extends ../../doc-layout
block body
	h1.count Heading
	h1 h1: Lorem ipsum dolor sit amet, consectetur adipisicing elit
	h2 h2: Lorem ipsum dolor sit amet, consectetur adipisicing elit
	h3 h3: Lorem ipsum dolor sit amet, consectetur adipisicing elit
	h4 h4: Lorem ipsum dolor sit amet, consectetur adipisicing elit
	h5 h5: Lorem ipsum dolor sit amet, consectetur adipisicing elit
	h6 h6: Lorem ipsum dolor sit amet, consectetur adipisicing elit