extends ../../doc-layout
block body

	blockquote.
		! class "primary" has no effect, keep it like that to distinquish primary, secondary and tertiary state of each element
	p Basic buttons
	table.table
		thead
			tr
				th State
				th Normal
				th Low important
				th extra Low
		tbody
			//- default
			tr
				td Default
				td
					span.btn Lorem ipsum
				td
					span.btn.low Lorem ipsum
				td
					span.btn.xlow Lorem ipsum
			tr
				td Active
				td
					span.btn.active Lorem ipsum
				td
					span.btn.active.low Lorem ipsum
				td
					span.btn.active.xlow Lorem ipsum
			tr
				td Disabled
				td
					span.btn.disabled Lorem ipsum
				td
					span.btn.disabled.low Lorem ipsum
				td
					span.btn.disabled.xlow Lorem ipsum
			tr
				td Small
				td
					span.btn.xs Lorem ipsum
				td
					span.btn.xs.low Lorem ipsum
				td
					span.btn.xs.xlow Lorem ipsum
			tr
				td Large
				td
					span.btn.lg Lorem ipsum
				td
					span.btn.lg.low Lorem ipsum
				td
					span.btn.lg.xlow Lorem ipsum

			//- default
			tr
				td Primary
				td
					span.btn.primary Lorem ipsum
				td
					span.btn.primary.low Lorem ipsum
				td
					span.btn.primary.xlow Lorem ipsum
			tr
				td Active
				td
					span.btn.primary.active Lorem ipsum
				td
					span.btn.primary.active.low Lorem ipsum
				td
					span.btn.primary.active.xlow Lorem ipsum
			tr
				td Disabled
				td
					span.btn.primary.disabled Lorem ipsum
				td
					span.btn.primary.disabled.low Lorem ipsum
				td
					span.btn.primary.disabled.xlow Lorem ipsum
			tr
				td small
				td
					span.btn.primary.xs Lorem ipsum
				td
					span.btn.primary.xs.low Lorem ipsum
				td
					span.btn.primary.xs.xlow Lorem ipsum
			tr
				td Large
				td
					span.btn.primary.lg Lorem ipsum
				td
					span.btn.primary.lg.low Lorem ipsum
				td
					span.btn.primary.lg.xlow Lorem ipsum
			//- success
			tr
				td Success
				td
					span.btn.success Lorem ipsum
				td
					span.btn.success.low Lorem ipsum
				td
					span.btn.success.xlow Lorem ipsum
			tr
				td Active
				td
					span.btn.success.active Lorem ipsum
				td
					span.btn.success.active.low Lorem ipsum
				td
					span.btn.success.active.xlow Lorem ipsum
			tr
				td Disabled
				td
					span.btn.success.disabled Lorem ipsum
				td
					span.btn.success.disabled.low Lorem ipsum
				td
					span.btn.success.disabled.xlow Lorem ipsum
			tr
				td small
				td
					span.btn.xs.success.active Lorem ipsum
				td
					span.btn.xs.success.active.low Lorem ipsum
				td
					span.btn.xs.success.active.xlow Lorem ipsum
			tr
				td Large
				td
					span.btn.success.lg Lorem ipsum
				td
					span.btn.success.lg.low Lorem ipsum
				td
					span.btn.success.lg.xlow Lorem ipsum
			//- info
			tr
				td Info
				td
					span.btn.info Lorem ipsum
				td
					span.btn.info.low Lorem ipsum
				td
					span.btn.info.xlow Lorem ipsum
			tr
				td Active
				td
					span.btn.info.active Lorem ipsum
				td
					span.btn.info.active.low Lorem ipsum
				td
					span.btn.info.active.xlow Lorem ipsum
			tr
				td Disabled
				td
					span.btn.info.disabled Lorem ipsum
				td
					span.btn.info.disabled.low Lorem ipsum
				td
					span.btn.info.disabled.xlow Lorem ipsum
			tr
				td small
				td
					span.btn.info.xs Lorem ipsum
				td
					span.btn.info.xs.low Lorem ipsum
				td
					span.btn.info.xs.xlow Lorem ipsum
			tr
				td Large
				td
					span.btn.info.lg Lorem ipsum
				td
					span.btn.info.lg.low Lorem ipsum
				td
					span.btn.info.lg.xlow Lorem ipsum
			//- warning
			tr
				td Warning
				td
					span.btn.warn Lorem ipsum
				td
					span.btn.warn.low Lorem ipsum
				td
					span.btn.warn.xlow Lorem ipsum
			tr
				td Active
				td
					span.btn.warn.active Lorem ipsum
				td
					span.btn.warn.active.low Lorem ipsum
				td
					span.btn.warn.active.xlow Lorem ipsum
			tr
				td Disabled
				td
					span.btn.warn.disabled Lorem ipsum
				td
					span.btn.warn.disabled.low Lorem ipsum
				td
					span.btn.warn.disabled.xlow Lorem ipsum
			tr
				td small
				td
					span.btn.warn.xs Lorem ipsum
				td
					span.btn.warn.xs.low Lorem ipsum
				td
					span.btn.warn.xs.xlow Lorem ipsum
			tr
				td Large
				td
					span.btn.warn.lg Lorem ipsum
				td
					span.btn.warn.lg.low Lorem ipsum
				td
					span.btn.warn.lg.xlow Lorem ipsum
			//- danger
			tr
				td Danger
				td
					span.btn.danger Lorem ipsum
				td
					span.btn.danger.low Lorem ipsum
				td
					span.btn.danger.xlow Lorem ipsum
			tr
				td Active
				td
					span.btn.danger.active Lorem ipsum
				td
					span.btn.danger.active.low Lorem ipsum
				td
					span.btn.danger.active.xlow Lorem ipsum
			tr
				td Disabled
				td
					span.btn.danger.disabled Lorem ipsum
				td
					span.btn.danger.disabled.low Lorem ipsum
				td
					span.btn.danger.disabled.xlow Lorem ipsum
			tr
				td small
				td
					span.btn.danger.xs Lorem ipsum
				td
					span.btn.danger.xs.low Lorem ipsum
				td
					span.btn.danger.xs.xlow Lorem ipsum
			tr
				td Large
				td
					span.btn.danger.lg Lorem ipsum
				td
					span.btn.danger.lg.low Lorem ipsum
				td
					span.btn.danger.lg.xlow Lorem ipsum

	h1 Block:
	p Just add "block" class
	span.btn.block lorem ipsum